/* Generics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utilities */
.container {
    max-width: 1000px;
    margin: 0 auto;
    height: 500px;
}

/* Products */

.product {
    height: 350px;
    width: calc(100% / 3 - 4px);
    background-color: #E5E6E3;
    position: relative;
    display: inline-block;
}